{% extends 'base.html' %}
{% block title %}
{{ general_setting.site_title }}
{% endblock %}
{% load static %}
{% block css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />

{% endblock %}
{% block content %}
    {% include 'partials/_header.html' %}
    <!--Main Slider-->
<ul class="bxslider">
{% for slid in slider %}
<li>
    <img src="{{ slid.image.url }}" style="height: 500px;width: 100%;margin: 0 auto"  />
        <div class="carousel-caption">
          <h3 style="color: {{ slid.title_color }}">{{ slid.title }}</h3>
          <p style="color: {{ slid.description_color }}">{{ slid.sort_description }}</p>
        </div>
</li>
{% endfor %}



</ul>
    <!--End Main Slider-->

    <!--Welcome Section-->
    <section class="welcome-section" style="background-image:url({% static '/' %}/images/resource/map-pattern-1.png)">
    	<div class="auto-container">
        	<!--Services Title-->
            <div class="services-title">
            	<div class="title">Welcome to our firm</div>
            </div>
            <div class="row clearfix">

                <!--Services Block-->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box hvr-float-shadow">
                    	<div class="image">
                        	<a href="market-plans.html"><img src="{% static '/' %}/images/resource/services-1.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="market-plans.html">Market Growth</a></h3>
                            <div class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci quia dolo velit</div>
                            <a href="market-plans.html" class="read-more">Read more</a>
                        </div>
                    </div>
                </div>

                <!--Services Block-->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box hvr-float-shadow">
                    	<div class="image">
                        	<a href="market-plans.html"><img src="{% static '/' %}/images/resource/services-2.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="market-plans.html">Market Growth</a></h3>
                            <div class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci quia dolo velit</div>
                            <a href="market-plans.html" class="read-more">Read more</a>
                        </div>
                    </div>
                </div>

                <!--Services Block-->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box hvr-float-shadow">
                    	<div class="image">
                        	<a href="market-plans.html"><img src="{% static '/' %}/images/resource/services-3.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="market-plans.html">Market Growth</a></h3>
                            <div class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci quia dolo velit</div>
                            <a href="market-plans.html" class="read-more">Read more</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End Welcome Section-->

    <!--Services Section-->
    <section class="services-section no-padd-top grey-bg">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title">
            	<h2>Services Offer</h2>
                <div class="text">Consultox is the best counseling accomplice for startup innovation organizations</div>
            </div>
            <div class="four-item-carousel owl-carousel owl-theme">

                <!--Services Block Two-->
                <div class="services-block-two">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon flaticon-graphic-1"></span>
                        </div>
                        <h3><a href="market-growth.html">Marketing Growth</a></h3>
                        <div class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</div>
                        <a href="market-growth.html" class="read-more">Read more</a>
                    </div>
                </div>

                <!--Services Block Two-->
                <div class="services-block-two">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon flaticon-piggy-bank-1"></span>
                        </div>
                        <h3><a href="investment-plans.html">Investment Planing</a></h3>
                        <div class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</div>
                        <a href="market-growth.html" class="read-more">Read more</a>
                    </div>
                </div>

                <!--Services Block Two-->
                <div class="services-block-two">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon flaticon-money-bag-1"></span>
                        </div>
                        <h3><a href="customer-insight.html">Consumer Insight</a></h3>
                        <div class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</div>
                        <a href="market-growth.html" class="read-more">Read more</a>
                    </div>
                </div>

                <!--Services Block Two-->
                <div class="services-block-two">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon flaticon-computer"></span>
                        </div>
                        <h3><a href="audit-assurance.html">Audit & Assurance</a></h3>
                        <div class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</div>
                        <a href="market-growth.html" class="read-more">Read more</a>
                    </div>
                </div>

                <!--Services Block Two-->
                <div class="services-block-two">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon flaticon-graphic-1"></span>
                        </div>
                        <h3><a href="market-growth.html">Marketing Growth</a></h3>
                        <div class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</div>
                        <a href="market-growth.html" class="read-more">Read more</a>
                    </div>
                </div>

                <!--Services Block Two-->
                <div class="services-block-two">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon flaticon-piggy-bank-1"></span>
                        </div>
                        <h3><a href="investment-plans.html">Investment Planing</a></h3>
                        <div class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</div>
                        <a href="market-growth.html" class="read-more">Read more</a>
                    </div>
                </div>

                <!--Services Block Two-->
                <div class="services-block-two">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon flaticon-money-bag-1"></span>
                        </div>
                        <h3><a href="customer-insight.html">Consumer Insight</a></h3>
                        <div class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</div>
                        <a href="market-growth.html" class="read-more">Read more</a>
                    </div>
                </div>

                <!--Services Block Two-->
                <div class="services-block-two">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon flaticon-computer"></span>
                        </div>
                        <h3><a href="audit-assurance.html">Audit & Assurance</a></h3>
                        <div class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</div>
                        <a href="market-growth.html" class="read-more">Read more</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End Services Section-->

    <!--Call To Action Section-->
    <section class="call-to-action-section" style="background-image:url({% static '/' %}/images/background/1.jpg)">
    	<div class="auto-container">
        	<h2>We are passionate about our work & <span>make growth of your business </span></h2>
            <div class="number-box clearfix">
            	<div class="pull-left">
                	<div class="number">1800.456.7890</div>
                </div>
                <div class="pull-right">
                	<a href="contact.html" class="theme-btn btn-style-three">Contact us</a>
                </div>
            </div>
        </div>
    </section>
    <!--End Call To Action Section-->

    <!--Study Section-->
    <section class="study-section">
    	<div class="auto-container">
        	<div class="row clearfix">

                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                	<div class="sec-title">
                    	<div class="title">Recent Case Study</div>
                        <h2>We work alongside national <br> and international firms</h2>
                    </div>
                    <div class="text">We plainly comprehend that you need not to lose, but rather to gain more cash over your time of work with us. That is the reason we dismiss all high-chance undertakings, that may prompt a quick heap of money out of the blue however to a primary capital's misfortune the second time.</div>
                    <a href="about.html" class="theme-btn btn-style-four">Know more</a>
                </div>
                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<!--Video Box-->
                        <div class="video-box">
                            <figure class="image">
                                <img src="{% static '/' %}/images/resource/video-img.jpg" alt="">
                            </figure>
                            <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-play-button-2"></span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End Study Section-->

    <!--Project Section-->

    <!--End Project Section-->




    <!--Clients Section-->
    <section class="clients-section">
        <div class="auto-container">

            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static '/' %}/images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static '/' %}/images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static '/' %}/images/clients/3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static '/' %}/images/clients/4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static '/' %}/images/clients/5.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static '/' %}/images/clients/6.png" alt=""></a></figure></li>
                </ul>
            </div>

        </div>
    </section>
    <!--End Clients Section-->

    <!--Appointment Section-->


{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
<script>
$(document).ready(function(){
  $('.bxslider').bxSlider();
});
</script>
{% endblock %}